body {
    background: #ffffff;
    background-image: url();
    background-repeat: no-repeat;
  }

  
  /* 5 */
  .btn-5 {
    width: 400px;
    height: 150px;
    line-height: 24px;
    padding: 10px;
    border: none;
    background: rgb(255,27,0);
  background: linear-gradient(0deg, rgba(255,27,0,1) 0%, rgba(251,75,2,1) 100%);
  font-size: 3rem;
  border-radius: 12px;
  }
  .btn-5:hover {
    color: #f0094a;
    background: transparent;
    box-shadow:
    -1px -1px 5px 0px #fff,
    7px 7px 20px 0px #0003,
    4px 4px 5px 0px #0002;
    font-size: 4rem;
    transition: 0.4s;
  }
  .btn-5:before,
  .btn-5:after{
    content:'';
    position:absolute;
    top: 5px;;
    right:10px;
    height:32px;
    width:0;
    background: #f0094a;
    box-shadow:
     -1px -1px 5px 0px #fff,
     7px 7px 20px 0px #0003,
     4px 4px 5px 0px #0002;
    transition:400ms ease all;
  }
  .btn-5:after{
    right:inherit;
    top:inherit;
    left:0;
    bottom:10px;
  }
  .btn-5:hover:before,
  .btn-5:hover:after{
    width:100%;
    transition:800ms ease all;
  }
  
  
  